---
export const prerender = false;
---

<html>
<head>
  <title>Test Page</title>
</head>
<body>
  <h1>Hello from Astro on Netlify!</h1>
  <p>If you can see this, the function is working.</p>
  <a href="/">Go to Home</a>
</body>
</html>